Repository seouri/biv: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: uv run mypy --no-error-summary
  language: system

pytest:
  name: pytest
  entry: uv run pytest tests --tb=short -v --maxfail=5
  language: system
  pass_filenames: false

Update CI config
  .github/workflows/ci.yml
Due: none

Update project configurations for consistency
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Remove test file and fix ruff order
  .pre-commit-config.yaml
Due: none

Increase test coverage for scripts/download_data.py
  .pre-commit-config.yaml
  pyproject.toml
  tests/scripts/test_download_data.py
  tests/test_zscores.py
  uv.lock
  zscore_implementation_plan.md
Due: mypy, pytest

Initial implementation of ZScoreDetector
  src/biv/methods/__init__.py
  src/biv/methods/zscore/detector.py
  src/biv/zscores.py
  tests/methods/test_zscore/test_zscore_detector.py
  tests/test_zscores.py
  zscore_implementation_plan.md
Due: mypy, pytest

uv lock --upgrade
  uv.lock
Due: none

Add Cline rules for code standards and code review
  .clinerules/code_review_guidelines.md
  .clinerules/code_standards.md
Due: none

Update implementation plan to include CDC/WHO reference data
  zscore_implementation_plan.md
Due: none

Add more details for reference data integration
  zscore_implementation_plan.md
Due: none

- Refactor download_data.py and tests - Turn off mypy on tests
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/download_data.py
  src/biv/zscores.py
  tests/scripts/test_download_data.py
  tests/test_zscores.py
  zscore_implementation_plan.md
Due: mypy, pytest

Remove mypy related code from tests
  tests/benchmark_zscores.py
  tests/methods/test_base.py
  tests/methods/test_methods.py
  tests/methods/test_range/test_range_detector.py
  tests/test_api.py
  tests/test_biv.py
  tests/test_detector_pipeline.py
  tests/test_zscores.py
Due: mypy, pytest

Move data to src/biv/data/ and add to git
  .gitignore
  scripts/download_data.py
  src/biv/data/growth_references.npz
  src/biv/zscores.py
  tests/scripts/test_download_data.py
  tests/test_zscores.py
Due: mypy, pytest

Update Test Case ID
  tests/scripts/test_download_data.py
  zscore_implementation_plan.md
Due: mypy, pytest

added login
  .gitignore
  README.md
  main.py
  src/app.py
  src/auth.py
  src/components/error_controls.py
  src/components/outlier_controls.py
  src/config.py
  src/utils/persistence.py
  src/utils/state_manager.py
Due: mypy

added keyboard shortcut
  pyproject.toml
  src/app.py
  src/components/error_controls.py
  uv.lock
Due: mypy

Path conditions:
  mypy: any of: \.py$ and \.py$
  pytest: any of: tests/.*\.py$ and \.py$
